body {
  padding: 0px;
  margin: 0px auto;
}

.navbar-top {
  margin-bottom: 0;
  overflow: visible;
  vertical-align: middle;
}

.navbar-top-inner {
  margin-bottom: 0;
  background: #36a9e1;
  white-space: nowrap;
  border: 0;
  color: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  vertical-align: middle;
}

.container-top {
  height: 40px;
  padding-left: 10px;
  white-space: nowrap;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-top-right {
  height: 40px;
  padding-left: 10px;
  white-space: nowrap;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  padding: 0;
  color: #fff!important;
  background: #000!important;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
a{
  cursor: pointer;
  text-decoration: none;
  text-decoration-line: none;
}
.img-head {
  margin: -13px 10px -14px 10px;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

img {
  vertical-align: middle;
  border: 0;
}

.el-table th{
  background:#F2F6FC;
  height: 32px;
  padding: 5px;
 }

 .el-table td{
  height: 32px;
  padding: 5px;
 }

 .el-table col{
  text-align:left; 
 }

 .el-menu-vertical-ecm{
  display: inline-block;
  text-align:left; 
 }

 .el-menu-item, .el-submenu__title{
  height: 32px;
  line-height:32px;
}

.el-menu.el-menu--horizontal{
  border: none;
}
.el-menu--horizontal>.el-menu-item {
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0;
    border: none;
    /*border-bottom: 2px solid transparent;*/
    color: #ffffff;
    background-color: #36a9e1;
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
    height: 48px;
    line-height: 48px;
    border: none;
    color: #ffffff;
    background-color: #36a9e1;
}
/* .el-menu--horizontal .is-active {
  color: #000000 !important;
  
} */
.el-menu--horizontal {
    border: none;
    background-color: #36a9e1;
}
.el-header, .el-footer {
    background-color: #36a9e1;
    color: #333;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  
  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .el-breadcrumb {
    font-size: 14px;
    line-height: 1;
    height: 24px;
    display:table-cell;
    vertical-align:middle;
  }
  .el-tree-node.is-current > .el-tree-node__content {
    background-color: #7ab9fd !important;
  }
  .el-table__expanded-cell[class*=cell]{
    padding: 0px 0px;
    padding-left: 106px;
}

body .el-table th.gutter{
  display: table-cell!important;
}

.customWidth{
  width: 95%;
}
.customWidthFull{
  width: 100%;
  height: 100%;
  padding-top: 0;
}
.ecmcontent{
  font-size: 14px;
}

.ecmtitle{
  font-size: 16px;
  font-weight: bold;
}

.topbar-button{
  padding-top:7px;
  padding-bottom:5px;
  padding-left:10px;
  float:left;
  text-align:left;
}

.topbar-input{
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  float:left;
  text-align:left;
}

.el-input__inner {
  height: 36px;
}

.title16{
  font-size:16px;
}