<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>表单项配置</title>
<link rel="stylesheet" href="../css/main.css" />
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui@2.4.3/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui@2.4.3/lib/index.js"></script>
</head>
<body>



<div id="app">
<el-row>
	<el-col :span="6">
	<div class="topbar">
  		<el-input  v-model="inputkey" placeholder="请输入关键字" @change="search" prefix-icon="el-icon-search"></el-input>
	</div>
	</el-col>
	<el-col :span="6">
  	<el-button type="primary" icon="el-icon-edit" circle @click="dialogVisible = true"></el-button>
  	</el-col>
</el-row>

<el-dialog title="添加" :visible.sync="dialogVisible">
  <el-form :model="form">
    <el-form-item label="名称" :label-width="formLabelWidth">
      <el-input v-model="form.name" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="说明" :label-width="formLabelWidth">
      <el-input v-model="form.description" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="角色" :label-width="formLabelWidth">
      <el-input v-model="form.roleName" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="URL" :label-width="formLabelWidth">
      <el-input v-model="form.url" auto-complete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">取 消</el-button>
    <el-button type="primary" @click="additem(form)">确 定</el-button>
  </div>
</el-dialog>

<template>
  <el-table
    :data="dataList"
    border
    style="width: 100%">
    <el-table-column
      fixed
      prop="id"
      label="ID"
      width="40">
    </el-table-column>
    <el-table-column
      prop="parentId"
      label="父ID"
      width="60">
    </el-table-column>
    <el-table-column
      prop="attrName"
      label="属性名"
      width="160">
    </el-table-column>
    <el-table-column
      prop="label"
      label="显示名"
      width="160">
    </el-table-column>
    <el-table-column
      prop="required"
      label="是否必填"
      width="80">
    </el-table-column>
    <el-table-column
      prop="controlType"
      label="控件类型"
      width="80">
    </el-table-column>
    <el-table-column
      prop="widthType"
      label="排列类型"
      width="80">
    </el-table-column>
    <el-table-column
      prop="defaultValue"
      label="默认值"
      width="80">
    </el-table-column>
    <el-table-column
      prop="orderIndex"
      label="排序"
      width="80">
    </el-table-column>
    <el-table-column
      prop="readOnly"
      label="只读"
      width="80">
    </el-table-column>
    <el-table-column
      label="操作"
      width="100">
      <template slot-scope="scope">
        <el-button @click="showitem(scope.row)" type="text" size="small">查看</el-button>
        <el-button type="text" size="small" @click="del(scope.row)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>
</template>
</div>

<script type="text/javascript">

$.ajaxSetup({  
    contentType : 'application/json'  
});


     new Vue({
            el:'#app',
            data:{
                dataList:"",
                dataListFull:"",
                inputkey:"",
                dialogVisible:false,
                form: {
                    name: '',
                    description: '',
                    value: ''
                },
                formLabelWidth: '120px'
            },
            created:function(){
            	var url="/admin/getFormItem";
        	    var _self = this;
        	    $.get(url, function (data) {
        	        _self.dataListFull = data.list;
        	    	_self.dataList = data.list;
        	   });
            },
            methods:{
            	refreshData:function()
            	{
            		var url="/admin/getFormItem";
            	    var _self = this;
            	    $.get(url, function (data) {
            	    	_self.dataListFull = data.list;
            	    	_self.dataList = data.list;
            	   });
            	},
				save:function(indata)
				{
					
					$.ajax({
							url: "/admin/updateFormItem",
							datatype:"json",
							type:'post',
							data:JSON.stringify(indata),
							success:function(data){
							   alert("保存成功!");
							}
					});  		
				},
				del:function(indata)
				{
					var _self = this;
					$.ajax({
						url: "/admin/deleteFormItem",
						datatype:"json",
						type:'post',
						data:JSON.stringify(indata),
						success:function(data){
						   alert("删除成功!");
						   _self.refreshData();
						}
				});  
				},
				additem:function(indata)
				{
					var _self = this;
					
					$.ajax({
						url: "/admin/newFormItem",
						datatype:"json",
						type:'post',
						data:JSON.stringify(indata),
						success:function(data){
							_self.dialogVisible=false;
						  // alert("添加成功!");
						   _self.refreshData();
						   //var url="/admin/getFormItem";
		            	   
		            	  //  $.get(url, function (data) {
		            	        
		            	    	//_self.dataList = data.list;
		            	  // });
						}
					});  
				},
				search:function()
				{
					
					var _self=this;
                    var tab=_self.dataListFull;
                    if(_self.inputkey!="")
                    {                                     
                    	_self.dataList=[];                     
                       for(i in tab) 
                       {
                            if(tab[i].name.indexOf(_self.inputkey) >= 0) 
                            {
                            	_self.dataList.push(tab[i]);
                            }
                        }
                    }
                    else
                        {
                    	_self.dataList = _self.dataListFull;
                        }
                    
				},
				showitem:function(indata)
				{

				}
            }
                
          });

     //new Vue().$mount('#app');
</script>
</body>
</html>