<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmAttributeMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmAttribute">
    <id column="Field" jdbcType="VARCHAR" property="name" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="Null" jdbcType="VARCHAR" property="isNull" />
    <result column="Default" jdbcType="VARCHAR" property="defaultValue" />
    <result column="Comment" jdbcType="VARCHAR" property="description" />
  </resultMap>
  
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
  	${sqlStr}
  </select>
  
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
</mapper>