<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmAttributeMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmAttribute">
    <id column="Field" jdbcType="VARCHAR" property="name" />
    <result column="Type" jdbcType="VARCHAR" property="type" />
    <result column="Null" jdbcType="VARCHAR" property="isNull" />
    <result column="Default" jdbcType="VARCHAR" property="defaultValue" />
    <result column="Comment" jdbcType="VARCHAR" property="description" />
  </resultMap>
  
  <select id="selectAll" parameterType="java.lang.String" resultMap="BaseResultMap">
  	${sqlStr}
  	<!-- mysql: show full columns from ecm_document 
  	sql server:
  SELECT
    [Field]=C.name,
    [Type]=T.name,
    [Length]=C.max_length,
    [Null]= C.is_nullable,
    [Default]=CAST(ISNULL(D.definition,N'') as varchar(255)),
    [Comment]=CAST(ISNULL(PFD.[value],N'') as varchar(255))
FROM sys.columns C
    INNER JOIN sys.objects O
        ON C.[object_id]=O.[object_id]
            AND O.type='U'
            AND O.is_ms_shipped=0
    INNER JOIN sys.types T
        ON C.user_type_id=T.user_type_id
    LEFT JOIN sys.default_constraints D
        ON C.[object_id]=D.parent_object_id
            AND C.column_id=D.parent_column_id
            AND C.default_object_id=D.[object_id]
LEFT JOIN sys.extended_properties PFD
        ON PFD.class=1
            AND C.[object_id]=PFD.major_id
            AND C.column_id=PFD.minor_id
    LEFT JOIN sys.extended_properties PTB
        ON PTB.class=1
            AND PTB.minor_id=0
            AND C.[object_id]=PTB.major_id
WHERE O.name = 'ecm_document'
ORDER BY O.name,C.column_id
-->
  </select>
  
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
</mapper>