<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmPermitMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmPermit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TARGET_NAME" jdbcType="VARCHAR" property="targetName" />
    <result column="TARGET_TYPE" jdbcType="INTEGER" property="permission" />
    <result column="PERMISSION" jdbcType="INTEGER" property="permission" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="expire_date" jdbcType="TIMESTAMP" property="expireDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TARGET_NAME, TARGET_TYPE, PERMISSION, PARENT_ID, expire_date
  </sql>
  <select id="selectByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_acl_item
    where PARENT_ID = #{parentId,jdbcType=VARCHAR}
  </select>
   <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_acl_item
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="selectByGrantName" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_acl_item
    where PARENT_ID = #{parentId,jdbcType=VARCHAR} and TARGET_NAME = #{targetName,jdbcType=VARCHAR} 
    and TARGET_TYPE = #{targetType,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_acl_item
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
   <delete id="deleteByParentId" parameterType="java.lang.String">
    delete from ecm_acl_item
    where PARENT_ID = #{parentId,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.ecm.core.entity.EcmPermit">
    insert into ecm_acl_item (ID, TARGET_NAME, TARGET_TYPE, PERMISSION, 
      PARENT_ID, expire_date)
    values (#{id,jdbcType=VARCHAR}, #{targetName,jdbcType=VARCHAR}, #{targetType,jdbcType=INTEGER}, #{permission,jdbcType=INTEGER}, 
      #{parentId,jdbcType=VARCHAR}, #{expireDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmPermit">
    insert into ecm_acl_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="targetName != null">
        TARGET_NAME,
      </if>
      <if test="targetType != null">
        TARGET_TYPE,
      </if>
      <if test="permission != null">
        PERMISSION,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="expireDate != null">
        expire_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="targetName != null">
        #{targetName,jdbcType=VARCHAR},
      </if>
       <if test="targetType != null">
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmPermit">
    update ecm_acl_item
    <set>
      <if test="targetName != null">
        TARGET_NAME = #{targetName,jdbcType=VARCHAR},
      </if>
      <if test="targetType != null">
        TARGET_TYPE = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="permission != null">
        PERMISSION = #{permission,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="expireDate != null">
        expire_date = #{expireDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmPermit">
    update ecm_acl_item
    set TARGET_NAME = #{targetName,jdbcType=VARCHAR},
      TARGET_TYPE = #{targetType,jdbcType=INTEGER},
      PERMISSION = #{permission,jdbcType=INTEGER},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      expire_date = #{expireDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>