<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmAuditWorkflowMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmAuditWorkflow">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="PROCESS_NAME" jdbcType="VARCHAR" property="processName" />
    <result column="WORKFLOW_ID" jdbcType="VARCHAR" property="workflowId" />
    <result column="WORKFLOW_NAME" jdbcType="VARCHAR" property="workflowName" />
    <result column="START_DATE" jdbcType="TIMESTAMP" property="startDate" />
    <result column="COMPLETE_DATE" jdbcType="TIMESTAMP" property="completeDate" />
    <result column="DOC_ID" jdbcType="VARCHAR" property="docId" />
    <result column="FORM_ID" jdbcType="VARCHAR" property="formId" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATOR, PROCESS_NAME, WORKFLOW_ID, WORKFLOW_NAME, START_DATE, COMPLETE_DATE, 
    DOC_ID, FORM_ID, DESCRIPTION
  </sql>
  <select id="selectByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_audit_workflow
    where ${condition}
  </select>
  <select id="getCountByCondition" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(ID)
    from ecm_audit_workflow
    where ${condition}
  </select>
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_audit_workflow
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_audit_workflow
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmAuditWorkflow">
    insert into ecm_audit_workflow (ID, CREATOR, PROCESS_NAME, 
      WORKFLOW_ID, WORKFLOW_NAME, START_DATE, 
      COMPLETE_DATE, DOC_ID, FORM_ID, 
      DESCRIPTION)
    values (#{id,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{processName,jdbcType=VARCHAR}, 
      #{workflowId,jdbcType=VARCHAR}, #{workflowName,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, 
      #{completeDate,jdbcType=TIMESTAMP}, #{docId,jdbcType=VARCHAR}, #{formId,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmAuditWorkflow" useGeneratedKeys="true" keyColumn='ID' keyProperty="id">
    insert into ecm_audit_workflow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="processName != null">
        PROCESS_NAME,
      </if>
      <if test="workflowId != null">
        WORKFLOW_ID,
      </if>
      <if test="workflowName != null">
        WORKFLOW_NAME,
      </if>
      <if test="startDate != null">
        START_DATE,
      </if>
      <if test="completeDate != null">
        COMPLETE_DATE,
      </if>
      <if test="docId != null">
        DOC_ID,
      </if>
      <if test="formId != null">
        FORM_ID,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="processName != null">
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="workflowId != null">
        #{workflowId,jdbcType=VARCHAR},
      </if>
      <if test="workflowName != null">
        #{workflowName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDate != null">
        #{completeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="docId != null">
        #{docId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmAuditWorkflow">
    update ecm_audit_workflow
    <set>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="processName != null">
        PROCESS_NAME = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="workflowId != null">
        WORKFLOW_ID = #{workflowId,jdbcType=VARCHAR},
      </if>
      <if test="workflowName != null">
        WORKFLOW_NAME = #{workflowName,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        START_DATE = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="completeDate != null">
        COMPLETE_DATE = #{completeDate,jdbcType=TIMESTAMP},
      </if>
      <if test="docId != null">
        DOC_ID = #{docId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        FORM_ID = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmAuditWorkflow">
    update ecm_audit_workflow
    set CREATOR = #{creator,jdbcType=VARCHAR},
      PROCESS_NAME = #{processName,jdbcType=VARCHAR},
      WORKFLOW_ID = #{workflowId,jdbcType=VARCHAR},
      WORKFLOW_NAME = #{workflowName,jdbcType=VARCHAR},
      START_DATE = #{startDate,jdbcType=TIMESTAMP},
      COMPLETE_DATE = #{completeDate,jdbcType=TIMESTAMP},
      DOC_ID = #{docId,jdbcType=VARCHAR},
      FORM_ID = #{formId,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>