<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmAuditWorkflowMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmAuditWorkflow">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="START_USER" jdbcType="VARCHAR" property="startUser" />
    <result column="PROCESS_NAME" jdbcType="VARCHAR" property="processName" />
    <result column="PROCESS_INSTANCE_ID" jdbcType="VARCHAR" property="processInstanceId" />
    <result column="PROCESS_INSTANCE_NAME" jdbcType="VARCHAR" property="processInstanceName" />
    <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
    <result column="END_TIME" jdbcType="TIMESTAMP" property="endTime" />
    <result column="DOC_ID" jdbcType="VARCHAR" property="docId" />
    <result column="FORM_ID" jdbcType="VARCHAR" property="formId" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, START_USER, PROCESS_NAME,PROCESS_INSTANCE_ID, PROCESS_INSTANCE_NAME, START_TIME, END_TIME,  
    DOC_ID, FORM_ID, DESCRIPTION
  </sql>
  <select id="selectByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_audit_workflow
    where ${condition}
  </select>
  <select id="getCountByCondition" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(ID)
    from ecm_audit_workflow
    where ${condition}
  </select>
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_audit_workflow
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_audit_workflow
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmAuditWorkflow">
    insert into ecm_audit_workflow (ID, START_USER, PROCESS_NAME, 
      PROCESS_INSTANCE_ID, PROCESS_INSTANCE_NAME, START_TIME, 
      END_TIME, DOC_ID, FORM_ID, 
      DESCRIPTION)
    values (#{id,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{processName,jdbcType=VARCHAR}, 
      #{processInstanceId,jdbcType=VARCHAR}, #{processInstanceName,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{docId,jdbcType=VARCHAR}, #{formId,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmAuditWorkflow" useGeneratedKeys="true" keyColumn='ID' keyProperty="id">
    insert into ecm_audit_workflow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="creator != null">
        START_USER,
      </if>
      <if test="processName != null">
        PROCESS_NAME,
      </if>
      <if test="processInstanceId != null">
        PROCESS_INSTANCE_ID,
      </if>
      <if test="processInstanceName != null">
        PROCESS_INSTANCE_NAME,
      </if>
      <if test="startTime != null">
        START_TIME,
      </if>
      <if test="endTime != null">
        END_TIME,
      </if>
      <if test="docId != null">
        DOC_ID,
      </if>
      <if test="formId != null">
        FORM_ID,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="processName != null">
        #{processName,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceName != null">
        #{processInstanceName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docId != null">
        #{docId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmAuditWorkflow">
    update ecm_audit_workflow
    <set>
      <if test="creator != null">
        START_USER = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="processName != null">
        PROCESS_NAME = #{processName,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceId != null">
        PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR},
      </if>
      <if test="processInstanceName != null">
        PROCESS_INSTANCE_NAME = #{processInstanceName,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        START_TIME = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        END_TIME = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="docId != null">
        DOC_ID = #{docId,jdbcType=VARCHAR},
      </if>
      <if test="formId != null">
        FORM_ID = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmAuditWorkflow">
    update ecm_audit_workflow
    set START_USER = #{creator,jdbcType=VARCHAR},
      PROCESS_NAME = #{processName,jdbcType=VARCHAR},
      PROCESS_INSTANCE_ID = #{processInstanceId,jdbcType=VARCHAR},
      PROCESS_INSTANCE_NAME = #{processInstanceName,jdbcType=VARCHAR},
      START_TIME = #{startTime,jdbcType=TIMESTAMP},
      END_TIME = #{endTime,jdbcType=TIMESTAMP},
      DOC_ID = #{docId,jdbcType=VARCHAR},
      FORM_ID = #{formId,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>