<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmDocumentMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmDocument">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="FOLDER_ID" jdbcType="VARCHAR" property="folderId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="REVISION" jdbcType="VARCHAR" property="revision" />
    <result column="ACL_NAME" jdbcType="VARCHAR" property="aclName" />
    <result column="FORMAT_NAME" jdbcType="VARCHAR" property="formatName" />
    <result column="CONTENT_SIZE" jdbcType="BIGINT" property="contentSize" />
    <result column="ATTACHMENT_COUNT" jdbcType="INTEGER" property="attachmentCount" />
    <result column="SYSTEM_VERSION" jdbcType="DOUBLE" property="systemVersion" />
    <result column="VERSION_ID" jdbcType="BIGINT" property="versionId" />
    <result column="LIFECYCLE_NAME" jdbcType="VARCHAR" property="lifecycleName" />
    <result column="LIFECYCLE_STATUS" jdbcType="VARCHAR" property="lifecycleStatus" />
    <result column="LIFECYCLE_DIR" jdbcType="VARCHAR" property="lifecycleDir" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, TITLE, FOLDER_ID, STATUS, CREATION_DATE, CREATOR, TYPE_NAME, MODIFIER, 
    MODIFIED_DATE, REVISION, ACL_NAME, FORMAT_NAME, 
    CONTENT_SIZE, ATTACHMENT_COUNT,SYSTEM_VERSION,VERSION_ID,
    LIFECYCLE_NAME,LIFECYCLE_STATUS ,LIFECYCLE_DIR 
  </sql>
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_document
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_document
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmDocument">
    insert into ecm_document (IN,NAME, TITLE, 
      FOLDER_ID, STATUS, CREATION_DATE, 
      CREATOR, TYPE_NAME, MODIFIER, 
      MODIFIED_DATE, REVISION,  
       ACL_NAME, FORMAT_NAME, CONTENT_SIZE, ATTACHMENT_COUNT,
       SYSTEM_VERSION,VERSION_ID,LIFECYCLE_NAME,LIFECYCLE_STATUS
      )
    values ( #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{folderId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{modifiedDate,jdbcType=TIMESTAMP}, #{revision,jdbcType=VARCHAR},
      #{aclName,jdbcType=VARCHAR}, 
      #{formatName,jdbcType=VARCHAR}, #{contentSize,jdbcType=BIGINT}, #{attachmentCount,jdbcType=INTEGER},
      #{systemVersion,jdbcType=DOUBLE}, #{versionId,jdbcType=BIGINT},
      #{lifecycleName,jdbcType=VARCHAR},#{lifecycleStatus,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmDocument">
    insert into ecm_document
    <trim prefix="(" suffix=")" suffixOverrides=",">
    	<if test="id != null">
        ID,
      </if>
     <if test="name != null">
        NAME,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="folderId != null">
        FOLDER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE,
      </if>
      <if test="revision != null">
        REVISION,
      </if>
      <if test="aclName != null">
        ACL_NAME,
      </if>
      <if test="formatName != null">
        FORMAT_NAME,
      </if>
      <if test="contentSize != null">
        CONTENT_SIZE,
      </if>
      <if test="attachmentCount != null">
        ATTACHMENT_COUNT,
      </if>
      <if test="systemVersion != null">
        SYSTEM_VERSION,
      </if>
      <if test="versionId != null">
        VERSION_ID,
      </if>
      <if test="lifecycleName != null">
        LIFECYCLE_NAME,
      </if>
      <if test="lifecycleStatus != null">
        LIFECYCLE_STATUS,
      </if>
      <if test="lifecycleDir != null">
        LIFECYCLE_DIR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="folderId != null">
        #{folderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="revision != null">
        #{revision,jdbcType=VARCHAR},
      </if>
      <if test="aclName != null">
        #{aclName,jdbcType=VARCHAR},
      </if>
      <if test="formatName != null">
        #{formatName,jdbcType=VARCHAR},
      </if>
      <if test="contentSize != null">
        #{contentSize,jdbcType=BIGINT},
      </if>
      <if test="attachmentCount != null">
        #{attachmentCount,jdbcType=INTEGER},
      </if>
      <if test="systemVersion != null">
        #{systemVersion,jdbcType=DOUBLE},
      </if>
      <if test="versionId != null">
        #{versionId,jdbcType=BIGINT},
      </if>
      <if test="lifecycleName != null">
        #{lifecycleName,jdbcType=VARCHAR},
      </if>
      <if test="lifecycleStatus != null">
        #{lifecycleStatus,jdbcType=VARCHAR},
      </if>
      <if test="lifecycleDir != null">
        #{lifecycleDir,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmDocument">
    update ecm_document
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="folderId != null">
        FOLDER_ID = #{folderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="revision != null">
        REVISION = #{revision,jdbcType=VARCHAR},
      </if>
      <if test="aclName != null">
        ACL_NAME = #{aclName,jdbcType=VARCHAR},
      </if>
      <if test="formatName != null">
        FORMAT_NAME = #{formatName,jdbcType=VARCHAR},
      </if>
      <if test="contentSize != null">
        CONTENT_SIZE = #{contentSize,jdbcType=BIGINT},
      </if>
      <if test="attachmentCount != null">
        ATTACHMENT_COUNT = #{attachmentCount,jdbcType=INTEGER},
      </if>
      <if test="systemVersion != null">
        SYSTEM_VERSION = #{systemVersion,jdbcType=DOUBLE},
      </if>
      <if test="versionId != null">
        VERSION_ID = #{versionId,jdbcType=BIGINT},
      </if>
      <if test="lifecycleName != null">
        LIFECYCLE_NAME = #{lifecycleName,jdbcType=VARCHAR},
      </if>
      <if test="lifecycleStatus != null">
        LIFECYCLE_STATUS = #{lifecycleStatus,jdbcType=VARCHAR},
      </if>
      <if test="lifecycleDir != null">
        LIFECYCLE_DIR = #{lifecycleDir,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmDocument">
    update ecm_document
    set NAME = #{name,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      FOLDER_ID = #{folderId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFIED_DATE = #{modifiedDate,jdbcType=TIMESTAMP},
      REVISION = #{revision,jdbcType=VARCHAR},
      ACL_NAME = #{aclName,jdbcType=VARCHAR},
      FORMAT_NAME = #{formatName,jdbcType=VARCHAR},
      CONTENT_SIZE = #{contentSize,jdbcType=BIGINT},
      ATTACHMENT_COUNT = #{attachmentCount,jdbcType=INTEGER},
      SYSTEM_VERSION = #{systemVersion,jdbcType=DOUBLE},
      VERSION_ID = #{versionID,jdbcType=BIGINT},
      LIFECYCLE_NAME = #{lifecycleName,jdbcType=VARCHAR},
      LIFECYCLE_STATUS = #{lifecycleStatus,jdbcType=VARCHAR},
      LIFECYCLE_DIR = #{lifecycleDir,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>