<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmDefAttributeMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmDefAttribute">
    <id column="ID" jdbcType="NVARCHAR" property="id" />
    <result column="NAME" jdbcType="NVARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="NVARCHAR" property="description" />
    <result column="TYPE_ID" jdbcType="NVARCHAR" property="typeId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATOR" jdbcType="NVARCHAR" property="creator" />
    <result column="CREATION_DATE" jdbcType="NVARCHAR" property="creationDate" />
    <result column="MODIFIER" jdbcType="NVARCHAR" property="modifier" />
    <result column="MODIFIED_DATE" jdbcType="NVARCHAR" property="modifiedDate" />
    <result column="DATA_TYPE" jdbcType="INTEGER" property="dataType" />
    <result column="LENGTH" jdbcType="INTEGER" property="length" />
    <result column="DEFAULT_VALUE" jdbcType="NVARCHAR" property="defaultValue" />
    <result column="NOT_NULL" jdbcType="TINYINT" property="notNull" />
    <result column="LABEL" jdbcType="NVARCHAR" property="label" />
    <result column="SEARCHABLE" jdbcType="TINYINT" property="searchable" />
    <result column="IS_REPEAT" jdbcType="TINYINT" property="isRepeat" />
    <result column="MIN_COUNT" jdbcType="INTEGER" property="minCount" />
    <result column="MAX_COUNT" jdbcType="INTEGER" property="maxCount" />
    <result column="ORDER_INDEX" jdbcType="INTEGER" property="orderIndex" />
    <result column="MAX_LENGTH" jdbcType="INTEGER" property="maxLength" />
    <result column="VALIDATE_POLICY" jdbcType="NVARCHAR" property="validatePolicy" />
    <result column="REQUIRED" jdbcType="TINYINT" property="required" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, DESCRIPTION, TYPE_ID, STATUS, CREATOR, CREATION_DATE, MODIFIER, MODIFIED_DATE, 
    DATA_TYPE, LENGTH, DEFAULT_VALUE, NOT_NULL, LABEL, SEARCHABLE, IS_REPEAT, 
    MIN_COUNT, MAX_COUNT, ORDER_INDEX, MAX_LENGTH, VALIDATE_POLICY, REQUIRED
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dbo.ecm_def_attribute
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <select id="selectByTypeId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ecm_def_attribute
    where TYPE_ID = #{typeId,jdbcType=VARCHAR} order by NAME
  </select>
  <delete id="deleteByTypeId" parameterType="java.lang.String">
    delete from ecm_def_attribute
    where TYPE_ID = #{typeId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from dbo.ecm_def_attribute
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmDefAttribute">
    insert into dbo.ecm_def_attribute (ID, NAME, DESCRIPTION, 
      TYPE_ID, STATUS, CREATOR, 
      CREATION_DATE, MODIFIER, MODIFIED_DATE, 
      DATA_TYPE, LENGTH, DEFAULT_VALUE, 
      NOT_NULL, LABEL, 
      SEARCHABLE, IS_REPEAT, MIN_COUNT, 
      MAX_COUNT, ORDER_INDEX, MAX_LENGTH, 
      VALIDATE_POLICY, REQUIRED)
    values (#{id,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}, 
      #{typeId,jdbcType=NVARCHAR}, #{status,jdbcType=INTEGER}, #{creator,jdbcType=NVARCHAR}, 
      #{creationDate,jdbcType=NVARCHAR}, #{modifier,jdbcType=NVARCHAR}, #{modifiedDate,jdbcType=NVARCHAR}, 
      #{dataType,jdbcType=INTEGER}, #{length,jdbcType=INTEGER}, #{defaultValue,jdbcType=NVARCHAR}, 
      #{notNull,jdbcType=TINYINT}, #{label,jdbcType=NVARCHAR}, 
      #{searchable,jdbcType=TINYINT}, #{isRepeat,jdbcType=TINYINT}, #{minCount,jdbcType=INTEGER}, 
      #{maxCount,jdbcType=INTEGER}, #{orderIndex,jdbcType=INTEGER}, #{maxLength,jdbcType=INTEGER}, 
      #{validatePolicy,jdbcType=NVARCHAR}, #{required,jdbcType=TINYINT}
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmDefAttribute">
    insert into dbo.ecm_def_attribute
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="typeId != null">
        TYPE_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE,
      </if>
      <if test="dataType != null">
        DATA_TYPE,
      </if>
      <if test="length != null">
        LENGTH,
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE,
      </if>
      <if test="notNull != null">
        NOT_NULL,
      </if>
      <if test="label != null">
        LABEL,
      </if>
      <if test="searchable != null">
        SEARCHABLE,
      </if>
      <if test="isRepeat != null">
        IS_REPEAT,
      </if>
      <if test="minCount != null">
        MIN_COUNT,
      </if>
      <if test="maxCount != null">
        MAX_COUNT,
      </if>
      <if test="orderIndex != null">
        ORDER_INDEX,
      </if>
      <if test="maxLength != null">
        MAX_LENGTH,
      </if>
      <if test="validatePolicy != null">
        VALIDATE_POLICY,
      </if>
      <if test="required != null">
        REQUIRED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
      <if test="typeId != null">
        #{typeId,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=NVARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null">
        #{dataType,jdbcType=INTEGER},
      </if>
      <if test="length != null">
        #{length,jdbcType=INTEGER},
      </if>
      <if test="defaultValue != null">
        #{defaultValue,jdbcType=NVARCHAR},
      </if>
      <if test="notNull != null">
        #{notNull,jdbcType=TINYINT},
      </if>
      <if test="label != null">
        #{label,jdbcType=NVARCHAR},
      </if>
      <if test="searchable != null">
        #{searchable,jdbcType=TINYINT},
      </if>
      <if test="isRepeat != null">
        #{isRepeat,jdbcType=TINYINT},
      </if>
      <if test="minCount != null">
        #{minCount,jdbcType=INTEGER},
      </if>
      <if test="maxCount != null">
        #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="orderIndex != null">
        #{orderIndex,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null">
        #{maxLength,jdbcType=INTEGER},
      </if>
      <if test="validatePolicy != null">
        #{validatePolicy,jdbcType=NVARCHAR},
      </if>
      <if test="required != null">
        #{required,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmDefAttribute">
    update dbo.ecm_def_attribute
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=NVARCHAR},
      </if>
      <if test="typeId != null">
        TYPE_ID = #{typeId,jdbcType=NVARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=NVARCHAR},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=NVARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=NVARCHAR},
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE = #{modifiedDate,jdbcType=NVARCHAR},
      </if>
      <if test="dataType != null">
        DATA_TYPE = #{dataType,jdbcType=INTEGER},
      </if>
      <if test="length != null">
        LENGTH = #{length,jdbcType=INTEGER},
      </if>
      <if test="defaultValue != null">
        DEFAULT_VALUE = #{defaultValue,jdbcType=NVARCHAR},
      </if>
      <if test="notNull != null">
        NOT_NULL = #{notNull,jdbcType=TINYINT},
      </if>
      <if test="label != null">
        LABEL = #{label,jdbcType=NVARCHAR},
      </if>
      <if test="searchable != null">
        SEARCHABLE = #{searchable,jdbcType=TINYINT},
      </if>
      <if test="isRepeat != null">
        IS_REPEAT = #{isRepeat,jdbcType=TINYINT},
      </if>
      <if test="minCount != null">
        MIN_COUNT = #{minCount,jdbcType=INTEGER},
      </if>
      <if test="maxCount != null">
        MAX_COUNT = #{maxCount,jdbcType=INTEGER},
      </if>
      <if test="orderIndex != null">
        ORDER_INDEX = #{orderIndex,jdbcType=INTEGER},
      </if>
      <if test="maxLength != null">
        MAX_LENGTH = #{maxLength,jdbcType=INTEGER},
      </if>
      <if test="validatePolicy != null">
        VALIDATE_POLICY = #{validatePolicy,jdbcType=NVARCHAR},
      </if>
      <if test="required != null">
        REQUIRED = #{required,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmDefAttribute">
    update dbo.ecm_def_attribute
    set NAME = #{name,jdbcType=NVARCHAR},
      DESCRIPTION = #{description,jdbcType=NVARCHAR},
      TYPE_ID = #{typeId,jdbcType=NVARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATOR = #{creator,jdbcType=NVARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=NVARCHAR},
      MODIFIER = #{modifier,jdbcType=NVARCHAR},
      MODIFIED_DATE = #{modifiedDate,jdbcType=NVARCHAR},
      DATA_TYPE = #{dataType,jdbcType=INTEGER},
      LENGTH = #{length,jdbcType=INTEGER},
      DEFAULT_VALUE = #{defaultValue,jdbcType=NVARCHAR},
      NOT_NULL = #{notNull,jdbcType=TINYINT},
      LABEL = #{label,jdbcType=NVARCHAR},
      SEARCHABLE = #{searchable,jdbcType=TINYINT},
      IS_REPEAT = #{isRepeat,jdbcType=TINYINT},
      MIN_COUNT = #{minCount,jdbcType=INTEGER},
      MAX_COUNT = #{maxCount,jdbcType=INTEGER},
      ORDER_INDEX = #{orderIndex,jdbcType=INTEGER},
      MAX_LENGTH = #{maxLength,jdbcType=INTEGER},
      VALIDATE_POLICY = #{validatePolicy,jdbcType=NVARCHAR},
      REQUIRED = #{required,jdbcType=TINYINT}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
</mapper>