<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmFolderMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmFolder">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="MODIFIER" jdbcType="VARCHAR" property="modifier" />
    <result column="MODIFIED_DATE" jdbcType="TIMESTAMP" property="modifiedDate" />
    <result column="GRID_VIEW" jdbcType="VARCHAR" property="gridView" />
    <result column="ACL_NAME" jdbcType="VARCHAR" property="aclName" />
    <result column="CODING" jdbcType="VARCHAR" property="coding" />
    <result column="FULL_CODING" jdbcType="VARCHAR" property="fullCoding" />
    <result column="FOLDER_PATH" jdbcType="VARCHAR" property="folderPath" />
    <result column="ORDER_INDEX" jdbcType="INTEGER" property="orderIndex" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, DESCRIPTION, PARENT_ID, STATUS, CREATION_DATE, CREATOR, TYPE_NAME, MODIFIER, 
    MODIFIED_DATE, GRID_VIEW, ACL_NAME,CODING,FULL_CODING,FOLDER_PATH,ORDER_INDEX
  </sql>
  <select id="selectByParentId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_folder
    where PARENT_ID = #{id,jdbcType=VARCHAR} order by ORDER_INDEX,NAME
  </select>
  
  <select id="selectByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_folder
    where ${condition} order by ORDER_INDEX,NAME
  </select>
  
  <select id="searchToMap" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
  <select id="searchToEntity" parameterType="java.lang.String" resultMap="BaseResultMap"> 
	${sqlStr}
  </select>
  <select id="selectByParentIdType" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_folder
    where PARENT_ID = #{id,jdbcType=VARCHAR} and TYPE_NAME = #{type,jdbcType=VARCHAR} order by ID
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_folder
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_folder
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmFolder">
    insert into ecm_folder (ID, NAME, DESCRIPTION, 
      PARENT_ID, STATUS, CREATION_DATE, 
      CREATOR, TYPE_NAME, MODIFIER, 
      MODIFIED_DATE, GRID_VIEW, ACL_NAME,
      CODING,FULL_CODING,FOLDER_PATH,ORDER_INDEX
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{creationDate,jdbcType=TIMESTAMP}, 
      #{creator,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}, 
      #{modifiedDate,jdbcType=TIMESTAMP}, #{gridView,jdbcType=VARCHAR}, #{aclName,jdbcType=VARCHAR}, 
      #{coding,jdbcType=VARCHAR},#{fullCoding,jdbcType=VARCHAR}, #{folderPath,jdbcType=VARCHAR}, 
      #{orderIndex,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmFolder">
    insert into ecm_folder
    <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="id != null">
        ID,
      </if>
     <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="creationDate != null">
        CREATION_DATE,
      </if>
      <if test="creator != null">
        CREATOR,
      </if>
      <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="modifier != null">
        MODIFIER,
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE,
      </if>
      <if test="gridView != null">
        GRID_VIEW,
      </if>
      <if test="aclName != null">
        ACL_NAME,
      </if>
      <if test="coding != null">
        CODING,
      </if>
      <if test="fullCoding != null">
        FULL_CODING,
      </if>
      <if test="folderPath != null">
        FOLDER_PATH,
      </if>
      <if test="orderIndex != null">
        ORDER_INDEX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
    <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gridView != null">
        #{gridView,jdbcType=VARCHAR},
      </if>
      <if test="aclName != null">
        #{aclName,jdbcType=VARCHAR},
      </if>
       <if test="coding != null">
        #{coding,jdbcType=VARCHAR},
      </if>
       <if test="fullCoding != null">
        #{fullCoding,jdbcType=VARCHAR},
      </if>
       <if test="folderPath != null">
        #{folderPath,jdbcType=VARCHAR},
      </if>
       <if test="orderIndex != null">
        #{orderIndex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmFolder">
    update ecm_folder
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="creationDate != null">
        CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="modifier != null">
        MODIFIER = #{modifier,jdbcType=VARCHAR},
      </if>
      <if test="modifiedDate != null">
        MODIFIED_DATE = #{modifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="gridView != null">
        GRID_VIEW = #{gridView,jdbcType=VARCHAR},
      </if>
      <if test="aclName != null">
        ACL_NAME = #{aclName,jdbcType=VARCHAR},
      </if>
       <if test="coding != null">
        CODING = #{coding,jdbcType=VARCHAR},
      </if>
       <if test="fullCoding != null">
        FULL_CODING = #{fullCoding,jdbcType=VARCHAR},
      </if>
       <if test="folderPath != null">
        FOLDER_PATH = #{folderPath,jdbcType=VARCHAR},
      </if>
       <if test="orderIndex != null">
        ORDER_INDEX = #{orderIndex,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmFolder">
    update ecm_folder
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATION_DATE = #{creationDate,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      MODIFIER = #{modifier,jdbcType=VARCHAR},
      MODIFIED_DATE = #{modifiedDate,jdbcType=TIMESTAMP},
      GRID_VIEW = #{gridView,jdbcType=VARCHAR},
      ACL_NAME = #{aclName,jdbcType=VARCHAR},
      CODING = #{coding,jdbcType=VARCHAR},
      FULL_CODING = #{fullCoding,jdbcType=VARCHAR},
      FOLDER_PATH = #{folderPath,jdbcType=VARCHAR},
      ORDER_INDEX = #{orderIndex,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>