<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmGridViewMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmGridView">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CONDITION_STR" jdbcType="VARCHAR" property="condition" />
    <result column="ORDER_BY" jdbcType="VARCHAR" property="orderBy" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CREATION_DATE" jdbcType="TIMESTAMP" property="creationDate" />
    <result column="GRID_TYPE" jdbcType="INTEGER" property="gridType" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, TYPE_NAME, DESCRIPTION, CONDITION_STR, ORDER_BY,CREATOR,CREATION_DATE,GRID_TYPE
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_gridview order by NAME
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ecm_gridview
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_gridview
    where ${condition}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_gridview
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmGridView">
    insert into ecm_gridview (ID, NAME, TYPE_NAME, DESCRIPTION, 
      CONDITION_STR, ORDER_BY,CREATOR,CREATION_DATE,GRID_TYPE)
    values (#{id,jdbcType=VARCHAR},  #{name,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
    #{description,jdbcType=VARCHAR}, 
      #{condition,jdbcType=VARCHAR}, #{orderBy,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR},
      #{creationDate,jdbcType=TIMESTAMP},#{gridType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmGridView">
    insert into ecm_gridview
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
       <if test="typeName != null">
        TYPE_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="condition != null">
        CONDITION_STR,
      </if>
      <if test="orderBy != null">
        ORDER_BY,
      </if>
      <if test="creator	!=null">CREATOR,</if>
      <if test="creationDate !=null">CREATION_DATE,</if>
      <if test="gridType !=null">GRID_TYPE,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
     <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null">
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="condition != null">
        #{condition,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        #{orderBy,jdbcType=VARCHAR},
      </if>
      <if test="creator	!=null">#{creator,jdbcType=VARCHAR},</if>
      <if test="creationDate !=null">#{creationDate,jdbcType=TIMESTAMP},</if>
      <if test="gridType !=null">#{gridType,jdbcType=INTEGER},</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmGridView">
    update ecm_gridview
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
       <if test="typeName != null">
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="condition != null">
        CONDITION_STR = #{condition,jdbcType=VARCHAR},
      </if>
      <if test="orderBy != null">
        ORDER_BY = #{orderBy,jdbcType=VARCHAR},
      </if>
      <if test="creator	!=null">CREATOR=#{creator,jdbcType=VARCHAR},</if>
      <if test="creationDate !=null">CREATION_DATE=#{creationDate,jdbcType=TIMESTAMP},</if>
      <if test="gridType !=null">GRID_TYPE=#{gridType,jdbcType=INTEGER},</if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmGridView">
    update ecm_gridview
    set NAME = #{name,jdbcType=VARCHAR},
   	  TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CONDITION_STR = #{condition,jdbcType=VARCHAR},
      ORDER_BY = #{orderBy,jdbcType=VARCHAR},
      CREATOR=#{creator,jdbcType=VARCHAR},
      CREATION_DATE=#{creationDate,jdbcType=TIMESTAMP},
      GRID_TYPE=#{gridType,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>