<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmLanguageMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmLanguage">
    <id column="ID" jdbcType="NVARCHAR" property="id" />
    <result column="NAME" jdbcType="NVARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="NVARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, DESCRIPTION
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_language order by NAME
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_language
    where ID = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_language
    where ID = #{id,jdbcType=NVARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmLanguage">
    insert into ecm_language (ID, NAME, DESCRIPTION
      )
    values (#{id,jdbcType=NVARCHAR}, #{name,jdbcType=NVARCHAR}, #{description,jdbcType=NVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmLanguage">
    insert into ecm_language
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=NVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmLanguage">
    update ecm_language
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=NVARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=NVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmLanguage">
    update ecm_language
    set NAME = #{name,jdbcType=NVARCHAR},
      DESCRIPTION = #{description,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=NVARCHAR}
  </update>
</mapper>