<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmQueueItemMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmQueueItem">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="EVENT_NAME" jdbcType="VARCHAR" property="eventName" />
    <result column="SEND_DATE" jdbcType="TIMESTAMP" property="sendDate" />
    <result column="SEND_USER" jdbcType="VARCHAR" property="sendUser" />
    <result column="DQUEUE_DATE" jdbcType="TIMESTAMP" property="dqueueDate" />
    <result column="DQUEUE_USER" jdbcType="VARCHAR" property="dqueueUser" />
    <result column="DELECT_FLAG" jdbcType="BIT" property="delectFlag" />
    <result column="OBJECT_ID" jdbcType="VARCHAR" property="objectId" />
    <result column="FAILURE_COUNT" jdbcType="INTEGER" property="failureCount" />
    <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
    <result column="TASK_NAME" jdbcType="VARCHAR" property="taskName" />
    <result column="WORKITEM_ID" jdbcType="VARCHAR" property="workitemId" />
    <result column="ROUTER_ID" jdbcType="VARCHAR" property="routerId" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, NAME, EVENT_NAME, SEND_DATE, SEND_USER, DQUEUE_DATE, DQUEUE_USER, DELECT_FLAG, 
    OBJECT_ID, FAILURE_COUNT, MESSAGE, TASK_NAME, WORKITEM_ID, ROUTER_ID, STATUS
  </sql>
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
  <select id="selectByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_queue_item
    where ${condition}
  </select>
  <select id="getCountByCondition" parameterType="java.lang.String" resultType="java.lang.Integer">
    select 
    count(ID)
    from ecm_queue_item
    where ${condition}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_queue_item
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_queue_item
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmQueueItem">
    insert into ecm_queue_item (ID, NAME, EVENT_NAME, 
      SEND_DATE, SEND_USER, DQUEUE_DATE, 
      DQUEUE_USER, DELECT_FLAG, OBJECT_ID, 
      FAILURE_COUNT, MESSAGE, TASK_NAME, 
      WORKITEM_ID, ROUTER_ID, STATUS
      )
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, 
      #{sendDate,jdbcType=TIMESTAMP}, #{sendUser,jdbcType=VARCHAR}, #{dqueueDate,jdbcType=TIMESTAMP}, 
      #{dqueueUser,jdbcType=VARCHAR}, #{delectFlag,jdbcType=BIT}, #{objectId,jdbcType=VARCHAR}, 
      #{failureCount,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{workitemId,jdbcType=VARCHAR}, #{routerId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}
      )
    <selectKey resultType="java.lang.String" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	</selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmQueueItem">
    insert into ecm_queue_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="eventName != null">
        EVENT_NAME,
      </if>
      <if test="sendDate != null">
        SEND_DATE,
      </if>
      <if test="sendUser != null">
        SEND_USER,
      </if>
      <if test="dqueueDate != null">
        DQUEUE_DATE,
      </if>
      <if test="dqueueUser != null">
        DQUEUE_USER,
      </if>
      <if test="delectFlag != null">
        DELECT_FLAG,
      </if>
      <if test="objectId != null">
        OBJECT_ID,
      </if>
      <if test="failureCount != null">
        FAILURE_COUNT,
      </if>
      <if test="message != null">
        MESSAGE,
      </if>
      <if test="taskName != null">
        TASK_NAME,
      </if>
      <if test="workitemId != null">
        WORKITEM_ID,
      </if>
      <if test="routerId != null">
        ROUTER_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null">
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendUser != null">
        #{sendUser,jdbcType=VARCHAR},
      </if>
      <if test="dqueueDate != null">
        #{dqueueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dqueueUser != null">
        #{dqueueUser,jdbcType=VARCHAR},
      </if>
      <if test="delectFlag != null">
        #{delectFlag,jdbcType=BIT},
      </if>
      <if test="objectId != null">
        #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="failureCount != null">
        #{failureCount,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="workitemId != null">
        #{workitemId,jdbcType=VARCHAR},
      </if>
      <if test="routerId != null">
        #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmQueueItem">
    update ecm_queue_item
    <set>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        EVENT_NAME = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="sendDate != null">
        SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="sendUser != null">
        SEND_USER = #{sendUser,jdbcType=VARCHAR},
      </if>
      <if test="dqueueDate != null">
        DQUEUE_DATE = #{dqueueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dqueueUser != null">
        DQUEUE_USER = #{dqueueUser,jdbcType=VARCHAR},
      </if>
      <if test="delectFlag != null">
        DELECT_FLAG = #{delectFlag,jdbcType=BIT},
      </if>
      <if test="objectId != null">
        OBJECT_ID = #{objectId,jdbcType=VARCHAR},
      </if>
      <if test="failureCount != null">
        FAILURE_COUNT = #{failureCount,jdbcType=INTEGER},
      </if>
      <if test="message != null">
        MESSAGE = #{message,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        TASK_NAME = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="workitemId != null">
        WORKITEM_ID = #{workitemId,jdbcType=VARCHAR},
      </if>
      <if test="routerId != null">
        ROUTER_ID = #{routerId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmQueueItem">
    update ecm_queue_item
    set NAME = #{name,jdbcType=VARCHAR},
      EVENT_NAME = #{eventName,jdbcType=VARCHAR},
      SEND_DATE = #{sendDate,jdbcType=TIMESTAMP},
      SEND_USER = #{sendUser,jdbcType=VARCHAR},
      DQUEUE_DATE = #{dqueueDate,jdbcType=TIMESTAMP},
      DQUEUE_USER = #{dqueueUser,jdbcType=VARCHAR},
      DELECT_FLAG = #{delectFlag,jdbcType=BIT},
      OBJECT_ID = #{objectId,jdbcType=VARCHAR},
      FAILURE_COUNT = #{failureCount,jdbcType=INTEGER},
      MESSAGE = #{message,jdbcType=VARCHAR},
      TASK_NAME = #{taskName,jdbcType=VARCHAR},
      WORKITEM_ID = #{workitemId,jdbcType=VARCHAR},
      ROUTER_ID = #{routerId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>