<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmSearchAuditMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmSearchAudit">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="INPUT_KEY" jdbcType="VARCHAR" property="inputKey" />
    <result column="SEARCH_DATE" jdbcType="TIMESTAMP" property="searchDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, USER_NAME, INPUT_KEY, SEARCH_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_search_audit
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_search_audit
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmSearchAudit">
    insert into ecm_search_audit (ID, USER_ID, USER_NAME, 
      INPUT_KEY, SEARCH_DATE)
    values (#{id,jdbcType=VARCHAR},#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{inputKey,jdbcType=VARCHAR}, #{searchDate,jdbcType=TIMESTAMP})
    <selectKey resultType="java.lang.String" order="AFTER" keyProperty="id">
		SELECT LAST_INSERT_ID() AS ID
	</selectKey>
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmSearchAudit">
    insert into ecm_search_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="inputKey != null">
        INPUT_KEY,
      </if>
      <if test="searchDate != null">
        SEARCH_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="inputKey != null">
        #{inputKey,jdbcType=VARCHAR},
      </if>
      <if test="searchDate != null">
        #{searchDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecm.core.entity.EcmSearchAudit">
    update ecm_search_audit
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="inputKey != null">
        INPUT_KEY = #{inputKey,jdbcType=VARCHAR},
      </if>
      <if test="searchDate != null">
        SEARCH_DATE = #{searchDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmSearchAudit">
    update ecm_search_audit
    set USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      INPUT_KEY = #{inputKey,jdbcType=VARCHAR},
      SEARCH_DATE = #{searchDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>