<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecm.core.dao.EcmShopingCartMapper">
  <resultMap id="BaseResultMap" type="com.ecm.core.entity.EcmShopingCart">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="DOCUMENT_ID" jdbcType="VARCHAR" property="documentId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="ADD_DATE" jdbcType="TIMESTAMP" property="addDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, DOCUMENT_ID, USER_NAME, ADD_DATE
  </sql>
  <select id="executeSQL" parameterType="java.lang.String" resultType="java.util.Map"> 
	${sqlStr}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ecm_shoping_cart
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ecm_shoping_cart order by ADD_DATE desc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ecm_shoping_cart
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecm.core.entity.EcmShopingCart">
    insert into ecm_shoping_cart (ID, DOCUMENT_ID,USER_NAME, ADD_DATE)
    values (#{id,jdbcType=VARCHAR}, #{documentId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{addDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ecm.core.entity.EcmShopingCart">
    insert into ecm_shoping_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="documentId != null">
        DOCUMENT_ID,
      </if>
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="addDate != null">
        ADD_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null">
        #{documentId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="addDate != null">
        #{addDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ecm.core.entity.EcmShopingCart">
    update ecm_shoping_cart
    set DOCUMENT_ID = #{documentId,jdbcType=VARCHAR},
     USER_NAME = #{userName,jdbcType=VARCHAR},
      ADD_DATE = #{addDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>