<?xml version="1.0" encoding="UTF-8"?>
<mappers>
	<mapper type="IED">
		<property prop="C_COMPANY" column="c_company"></property>
		<property prop="C_PROJECT_CODE" column="c_project_code"></property>
		<property prop="C_PROJECT_NAME" column="c_project_name"></property>
		<property prop="C_WBS_CODING" column="c_wbs_coding"></property>
		<property prop="CODING" column="coding"></property>
		<property prop="C_IN_CODING" column="c_in_coding"></property>
		<property prop="C_OTHER_CODING" column="c_other_coding"></property>
		<property prop="TITLE" column="title"></property>
		<property prop="C_TITLE" column="c_title"></property>
		<property prop="REVISION" column="revision"></property>
		<property prop="C_EX1_DATE" column="c_ex1_date"></property>
		<property prop="C_EX2_DATE" column="c_ex2_date"></property>
		<property prop="C_EX3_DATE" column="c_ex3_date"></property>
		<property prop="C_EX4_DATE" column="c_ex4_date"></property>
		<property prop="SUB_TYPE" column="sub_type"></property>
		<property prop="C_FROM_CODING" column="c_from_coding"></property>
		<property prop="C_TYPE1" column="c_type1"></property>
		<property prop="C_UNIT" column="c_unit"></property>
		<property prop="C_SYS_CODE" column="c_sys_code"></property>
		<property prop="C_INST_BUILDING" column="c_inst_building"></property>
		<property prop="C_INST_LEVEL" column="c_inst_level"></property>
		<property prop="C_INST_AREA_ZONE" column="c_inst_area_zone"></property>
		<property prop="C_INST_POSITION" column="c_inst_position"></property>
		<property prop="C_ISLAND_TYPE" column="c_island_type"></property>
		<property prop="C_BUILDING" column="c_building"></property>
		<property prop="C_ZONE" column="c_zone"></property>
		<property prop="C_LEVEL" column="c_level"></property>
		<property prop="C_AREA" column="c_area"></property>
		<property prop="C_ROOM" column="c_room"></property>
		<property prop="C_MODULE" column="c_module"></property>
		<property prop="C_EQUIPMENT" column="c_equipment"></property>
		<property prop="C_COMMENT" column="c_comment"></property>
		<property prop="CREATION_DATE" column="creation_date"></property>
		<property prop="C_ITEM1_DATE" column="c_item1_date"></property>
		<property prop="C_COMMENT1" column="c_comment1"></property>
		<property prop="C_ITEM2_DATE" column="c_item2_date"></property>
		<property prop="C_COMMENT2" column="c_comment2"></property>
		<property prop="C_IDENTIFY" column="c_identify"></property>
		<property prop="C_ITEM3_DATE" column="c_item3_date"></property>
		<property prop="C_COMMENT3" column="c_comment3"></property>
		<property prop="C_ITEM4_DATE" column="c_item4_date"></property>
		<property prop="C_COMMENT4" column="c_comment4"></property>
		<property prop="C_ITEM_STATUS" column="c_item_status"></property>
		<property prop="C_SEND_DATE" column="c_send_date"></property>
		<property prop="C_REF_CODING" column="c_ref_coding"></property>
		<property prop="C_REVIEW1_DATE" column="c_review1_date"></property>
		<property prop="C_REVIEW2_DATE" column="c_review2_date"></property>
		<property prop="C_STRING1" column="c_string1"></property>
		<property prop="C_ITEM5_DATE" column="c_item5_date"></property>
		<property prop="C_STRING5" column="c_string5"></property>
		<property prop="C_ITEM_STATUS3" column="c_item_status3"></property>
		<property prop="C_ITEM6_DATE" column="c_item6_date"></property>
		<property prop="C_STRING6" column="c_string6"></property>
		<property prop="C_ITEM7_DATE" column="c_item7_date"></property>
		<property prop="C_DOUBLE1" column="c_double1"></property>
		<property prop="C_ITEM_STATUS2" column="c_item_status2"></property>
		<property prop="IS_CURRENT" column="is_current"></property>
		<property prop="C_ITEM_DATE" column="c_item_date"></property>
		<property prop="C_RECEIVER" column="c_receiver"></property>
		<property prop="C_RECEIVE_DATE" column="c_receive_date"></property>
		<property prop="C_ITEM_STATUS1" column="c_item_status1"></property>
		<property prop="C_EX9_STRING" column="c_ex9_string"></property>
		<property prop="C_EX10_STRING" column="c_ex10_string"></property>
		<property prop="C_EX11_STRING" column="c_ex11_string"></property>
		<property prop="C_EX12_STRING" column="c_ex12_string"></property>
		<property prop="C_EX13_STRING" column="c_ex13_string"></property>
		<property prop="C_EX14_STRING" column="c_ex14_string"></property>
		<property prop="C_EX9_DATE" column="c_ex9_date"></property>
		<property prop="C_EX10_DATE" column="c_ex10_date"></property>
		<property prop="C_EX11_DATE" column="c_ex11_date"></property>
		<property prop="C_EX12_DATE" column="c_ex12_date"></property>
		<property prop="C_EX13_DATE" column="c_ex13_date"></property>
		<property prop="C_EX14_DATE" column="c_ex14_date"></property>
	</mapper>
	
	<mapper type="ICM">
		<property prop="C_DESIGN_UNIT" column="c_design_unit"></property>
		<property prop="C_PROJECT_CODE" column="c_project_code"></property>
		<property prop="C_PROJECT_NAME" column="c_project_name"></property>
		<property prop="C_IN_CODING" column="c_in_coding"></property>
		<property prop="CODING" column="coding"></property>
		<property prop="C_WBS_CODING" column="c_wbs_coding"></property>
		<property prop="TITLE" column="title"></property>
		<property prop="C_CODE1" column="c_code1"></property>
		<property prop="C_CODE2" column="c_code2"></property>
		<property prop="C_CODE3" column="c_code3"></property>
		<property prop="C_CODE4" column="c_code4"></property>
		<property prop="C_CODE5" column="c_code5"></property>
		<property prop="C_CODE6" column="c_code6"></property>
		<property prop="SUB_TYPE" column="sub_type"></property>
		<property prop="C_COMMENT" column="c_comment"></property>
		<property prop="C_ITEM1_DATE" column="c_item1_date"></property>
		<property prop="C_ITEM2_DATE" column="c_item2_date"></property>
		<property prop="C_ITEM_STATUS1" column="c_item_status1"></property>
		<property prop="C_ITEM_STATUS2" column="c_item_status2"></property>
		<property prop="C_DISPL_CODE" column="c_displ_code"></property>
		<property prop="C_ITEM_STATUS" column="c_item_status"></property>
		<property prop="C_HOST" column="c_host"></property>
		<property prop="C_DEPARTMENT" column="c_department"></property>
		<property prop="C_DRAFTER" column="c_drafter"></property>
		<property prop="C_APPROVER" column="c_approver"></property>
		<property prop="C_PARTICIPATION" column="c_participation"></property>
		<property prop="C_COPY_TO" column="c_copy_to"></property>
		<property prop="C_STRING1" column="c_string1"></property>
		<property prop="C_STRING2" column="c_string2"></property>
		<property prop="C_STRING3" column="c_string3"></property>
		<property prop="C_STRING4" column="c_string4"></property>
		<property prop="C_COMMENT1" column="c_comment1"></property>
		<property prop="C_EX1_DATE" column="c_ex1_date"></property>
		<property prop="C_EX1_STRING" column="c_ex1_string"></property>
		<property prop="C_EX3_DATE" column="c_ex3_date"></property>
		<property prop="C_EX3_STRING" column="c_ex3_string"></property>
		<property prop="C_EX2_DATE" column="c_ex2_date"></property>
		<property prop="C_EX2_STRING" column="c_ex2_string"></property>
		<property prop="C_EX4_DATE" column="c_ex4_date"></property>
		<property prop="C_EX4_STRING" column="c_ex4_string"></property>
		<property prop="C_IDENTIFY" column="c_identify"></property>
		<property prop="C_COMMENT5" column="c_comment5"></property>
		<property prop="C_ITEM5_DATE" column="c_item5_date"></property>
		<property prop="C_STRING6" column="c_string6"></property>
		<property prop="C_EQUIPMENT" column="c_equipment"></property>
		<property prop="C_COUNT1" column="c_count1"></property>
		<property prop="C_EX5_DATE" column="c_ex5_date"></property>
		<property prop="C_EX5_STRING" column="c_ex5_string"></property>
		<property prop="C_FROM_CODING" column="c_from_coding"></property>
		<property prop="C_ITME4_DATE" column="c_itme4_date"></property>
		<property prop="C_COMMENT3" column="c_comment3"></property>
		<property prop="C_COMMENT6" column="c_comment6"></property>
		<property prop="C_ITEM_STATUS3" column="c_item_status3"></property>
		<property prop="C_DRAFTER1" column="c_drafter1"></property>
		<property prop="C_DRAFT1_DATE" column="c_draft1_date"></property>
		<property prop="C_COMMENT2" column="c_comment2"></property>
		<property prop="C_EX6_DATE" column="c_ex6_date"></property>
		<property prop="C_EX7_DATE" column="c_ex7_date"></property>
		<property prop="C_EX6_STRING" column="c_ex6_string"></property>
		<property prop="C_TYPE1" column="c_type1"></property>
		<property prop="C_COMMENT7" column="c_comment7"></property>
		<property prop="C_REF_CODING" column="c_ref_coding"></property>
		<property prop="C_EX8_DATE" column="c_ex8_date"></property>
		<property prop="C_EX7_STRING" column="c_ex7_string"></property>
		<property prop="C_ITEM_STATUS4" column="c_item_status4"></property>
		<property prop="C_DRAFTER2" column="c_drafter2"></property>
		<property prop="C_DRAFT2_DATE" column="c_draft2_date"></property>
		<property prop="C_ITEM3_DATE" column="c_item3_date"></property>
		<property prop="C_ITEM6_DATE" column="c_item6_date"></property>
		<property prop="C_EX8_STRING" column="c_ex8_string"></property>
		<property prop="C_ITEM_STATUS6" column="c_item_status6"></property>
		<property prop="C_ITEM_STATUS7" column="c_item_status7"></property>
		<property prop="C_ITEM_STATUS8" column="c_item_status8"></property>
		<property prop="C_ITEM_STATUS9" column="c_item_status9"></property>
		<property prop="C_ITEM_STATUS10" column="c_item_status10"></property>
		<property prop="C_EX9_STRING" column="c_ex9_string"></property>
		<property prop="C_EX10_STRING" column="c_ex10_string"></property>
		<property prop="C_EX11_STRING" column="c_ex11_string"></property>
		<property prop="C_EX12_STRING" column="c_ex12_string"></property>
		<property prop="C_EX13_STRING" column="c_ex13_string"></property>
		<property prop="C_EX14_STRING" column="c_ex14_string"></property>
		<property prop="C_EX9_DATE" column="c_ex9_date"></property>
		<property prop="C_EX10_DATE" column="c_ex10_date"></property>
		<property prop="C_EX11_DATE" column="c_ex11_date"></property>
		<property prop="C_EX12_DATE" column="c_ex12_date"></property>
		<property prop="C_EX13_DATE" column="c_ex13_date"></property>
		<property prop="C_EX14_DATE" column="c_ex14_date"></property>
	</mapper>
</mappers>